.icon {
  padding-left: 10px;
  padding-top: 5px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.hidden-icon {
  display: none;
}

.left {
  clear: left;
  float: left;
}

.right {
  float: right;
}

.add-item {
  padding-top: 15px;
}

.item-checked {
  background-color: #40464a;
}

.clear-items {
  margin-top: 30px;
}
